html, body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'East Sea Dokdo', cursive;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  color: #2574D0;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.board {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  background-color: #c7996c;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 20px;
}

.board .board__box{
  width: 150px;
  height: 150px;
  border: 3px solid rgb(34, 34, 34);
  font-size: 100px;
}

header{
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poor Story', cursive;
  position: relative;
}

.startBtn{
  border: none;
  width: 150px;
  height: 38px;
  font-size: larger;
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  background-color: rgb(157, 135, 235);
  box-shadow: 0px 9px rgb(95, 89, 151);
  outline: none;
  cursor: pointer;
}

.versusBtn{
  /* background-color: rgb(235, 147, 135); */
  width: 80px;
  height: 30px;
  position: absolute;
  right: 0;
  color: white;
  font-size: 22px;
  font-family: 'East Sea Dokdo', cursive;
  border-radius: 5px;
  background-color: grey;
  box-shadow: 0px 5px rgb(117, 117, 117);
  border: none;
  outline: none;
  cursor: pointer;
}
.versusBtn:hover{
  background-color: rgb(168, 167, 167);
}
.versusBtn:active{
  background-color: rgb(248, 255, 143);
  box-shadow: 0px 2px rgb(131, 133, 122);
  transform: translateY(4px);
}
.startBtn:hover{
  background-color: rgb(141, 125, 199);
}

.startBtn:active{
  background-color: rgb(141, 125, 199);
  box-shadow: 0px 5px rgb(73, 68, 116);
  transform: translateY(4px);
}

.gameStatus{
  display: none;
}

.gameStatus .gameStatus__winner{
  display: none;
  width: fit-content;
}

.gameApp{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.scoreBoard{
  width: 200px;
  height: 100px;
  font-size: 3rem;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreBoard div{
  font-size: 2rem;
}

