html, body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'East Sea Dokdo', cursive;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  color: #2574D0;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.board {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  background-color: #c7996c;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 20px;
}

.board .board__box{
  width: 150px;
  height: 150px;
  border: 3px solid rgb(34, 34, 34);
  font-size: 100px;
}

header{
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poor Story', cursive;
}

.startBtn{
  border: none;
  width: 150px;
  height: 30px;
  font-size: larger;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  background-color: rgb(157, 135, 235);
  box-shadow: 4px 4px 0px 0px rgb(109, 102, 175);
  cursor: pointer;
}

.gameStatus{
  display: none;
}

.gameStatus .gameStatus__winner{
  display: none;
}